:root{
    --bg: #dededed9;
    --font: #000000;
    --card: #1E1E1E;
    --desk: rgb(248, 207, 163);
}

.warna {
    background-color: var(--card);
}

.wrna {
    background-color: var(--desk);
}

p {
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: var(--bg);
    padding: 20px;
}

.nav-item{
    font-family: 'Poppins', sans-serif;
}

.banner{
    height: 80vh;
    background-repeat: no-repeat;   
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../img/image/latar.jpg');
}

.content {
    background-color: var(--card);
    height: 65vh;
}

.konten {
    align-items: flex-start;
}

.highlighted-kategori {
    height: 250px;
}

.kategori-baju-pria {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/wepik-export-202312100152326D4l.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kategori-baju-wanita {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/cute-woman-bright-hat-purple-blouse-is-leaning-stand-with-dresses-posing-with-package-isolated-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kategori-celana {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/light-brown-beige-pants-hangers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kategori-topi {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/collection-trucker-hats-with-mesh-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kategori-hoodie {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/white-hoodie-man-with-green-pants-city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.kategori-totebag {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/image/woman-shopping-with-fabric-tote-bag.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-decoration {
    text-decoration: none;
    color: var(--bg);
}

.no-decoration:hover {
    color: var(--desk);
}

.text-harga {
    font-size: 22px;
    color: var(--desk);
}

.image-box {
    height: 200px;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.content-subscribe {
    background-color: var(--card);
}

.content-subscribe a{
    color: var(--bg);
}

.banner-produk {
    height: 45vh;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/image/lbp.jpg);
    background-position: 50% 30%
}